.header{
    transition:.5s;
    z-index:40;
}
/* 顶部搜索框 */
.header-input{    
    width:100%;
    text-align:center;
    background:#bad300;
    line-height:50px;
    height:0px;
    overflow:hidden;
    transition:.5s;
}
/* input框 */
.header-input input{
    width:80%;
    outline:none;
    border:none;
    background:#bad300;
    margin:0 4px;
}
/* 图片 */
.header-input img{
    position:relative;
    top:-3px;    
}
.header-out{
    cursor:pointer;
}
.header-input-h{
    height:50px;
}
/* 导航栏 */
.nav{
    width:100%;
}
.navbar{   
    position:relative; 
    width:92%;  
    margin:0 auto; 
    display:flex;
    flex-direction: column;
    padding:0;
}
.header .navbar{
    width:85%;
}
.nav>div{
    min-width:600px;
}
/* logo图片 */
.header-logo{  
    width:100%;  
    text-align:left;    
}
.header-logo img{    
    height:80px;
    margin-top:12px;
}
/* 折叠导航栏 */
.nav-item{    
    margin:0;
    padding:0;
    display:flex; 
    flex-wrap:nowrap;
    justify-content:space-between;
}
.nav-item li:nth-child(11),.nav-item li:nth-child(12){
    display:none;
}
.nav-item>li{
    /* width:100px;
    min-width:60px;    */
    list-style:none;
    /* display:flex;     */
    flex-wrap:nowrap;
    padding:10px 0;
    justify-content:space-around;
    align-items:center;
}

.header1 .nav .lav{
    min-width:80px !important;
    position:relative;
    z-index:40;
}

.header .nav .lav{
    min-width:80px !important;
    position:relative;
    z-index:40;
}
.header .nav>div{
    width:60%;
}
.nav-item li a{
    text-decoration:none;
    font-size:14px;
    color:#000;
    opacity:.6;
    transition:.5s;
}
/* 导航栏文字颜色 */
.nav-item .nav-link:hover a{
    color:#bad300;
    opacity:1;
}
.link-f a{
    color:#bad300 !important;
}
.lav div a{
    opacity:1;
    color:#000;
}
/* 语言切换 */

.header .between{
    display:none;
    
}
.header1 .between{
    display:none;
    /* position:fixed; */
}
.lav>div{
    position:absolute;  
    
}
.lav div ul{
    padding:0;
    margin-top:20px; 
    margin-left:-25px; 
    border:1px solid #000; 
    width:180px;
    height:80px;
    background:#fff;
}
.lav div ul li{
    padding-left:25px;
    text-align:left;
    list-style:none;
    margin-bottom:10px;
    color:#000;    
}
.lav>div>ul>li>a{
    opacity:1;
}
.lav div ul li:first-child{
    margin-top:10px;
}
.header .lav:hover .between{
    display:block;   
}
.header1 .lav:hover .between{
    display:block;
    position:fixed;
}
.between ul li a{
    color:#999;        
}
.between ul li:hover a{
    color:#000;
}
.between img{
    margin-right:5px;
}
/* 购物车 */
.shapp{
    width: 37px;
    height:47px;
    position:absolute;
    top:55%;
    right:5%;
    z-index:10;
}
.shapp a{
    display:inline-block;
    text-decoration:none;
}
.shapp div{
    width:110px;
    height:0px;
    text-align:center;
    position:fixed;
    margin-left:-40px;    
    margin-top:15px;
    background:#bad300;    
    overflow:hidden;
    transition:.5s;
}
.shapp div a{
    margin:12.5px auto;
    width:70px;
    height:25px;
    color:#000;
    font-size:12px;
    background:#fff;
    line-height:25px;
    transition:.5s;   
}
.shapp div a:hover{
    text-decoration:none;
    background:#bad300;
    color:#fff;
}
.shapp:hover div{
    height:50px;
}
/* 搜索框按钮 */
.search{
    position:absolute;
    top:60%;
    right:2%;
}
.search a{
    display:inline-block;
}

/* header */
/*  */
/*  */

.header2{
    height:0;
}
.header1{
    position:fixed;
    top:0;
    width:100%;
    z-index:50;
    background:#fff;    
    height:0px;
    overflow:hidden;
    transition:.1s;
}
.header2{
    height:auto;
}
/* 导航栏 */
.header1 .nav{
    width:70%;
    display:flex;
    justify-content:right !important;
    
} 
.header1 .nav>div{
   
    width:80%;
}
.header1 .nav>div>ul{
    position:relarive;
        
    width:80%;
}
/*  */
.header1 .navbar{   
    position:relative; 
    width:100%;  
    margin:0 auto; 
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center; 
        
}
.header .nav-item{
    margin:0;
}
/* 顶部搜索框 */
.header1 .header-input{    
    width:100%;
    text-align:center;
    background:#bad300;
    line-height:50px;    
    overflow:hidden;       
}
/* input框 */
.header1 .header-input input{
    width:80%;
    outline:none;
    border:none;
    background:#bad300;
    margin:0 4px;
}
/* 图片 */
.header1 .header-input img{
    position:relative;
    top:-3px;    
}
/* logo */
.header1 .header-logo{  
    width:auto !important;  
    text-align:left;
    margin:0 2%;
    position:relative;
    left:5%;
}
.header1 .header-logo img{
    margin-top:0;
    height:50px;
}
/* 导航栏 */
.header1 .nav-item>li{
    /* width:100px;
    min-width:60px;    */
    list-style:none;
    /* display:flex;     */
    flex-wrap:nowrap;
    padding:10px 0;
    justify-content:space-around;
    align-items:center;
}
/* 购物车 */
.header1 .shapp{
    width: 37px;
    height:47px;
    position:relative;    
    right:3%;
    z-index:10;
}
/* 搜索框按钮 */
.header1 .search{
    position:relative;    
    right:6%;
}

